.about-me {
    margin: 4% auto auto auto;
    /*margin: 10% auto auto auto;*/
    background-color: lightblue;
    width: 500px;
    border-radius: 20px;
    padding: 25px;
}

.photo-me{
    padding: 0 0 0 30%;
}

.contact{
    text-align: center;
}