.connect {
    margin-top: 6%;
    /*margin-top: 22vh;*/
    background-color: lightblue;
    width: 500px;
    border-radius: 20px;
    padding: 25px;
}

.connect-footer {
    display: flex;
    margin-top: 25px;
    height: 50px;
}

input:invalid {
    background: #fdd; /* Красный цвет фона */
}
