.field {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 26px;
    color: grey;
}

.field input {
    margin-left: 15px;
    padding: 0 10px;
    height: 75%;
    border: 0;
    border-radius: 12px;
    font-size: 20px;
    outline: none;
    flex: 1;
}

.field .search {
    width: 80%;
    margin-left: 0;
    border: groove;
}

.Dropdown-root {
    width: 35%;
    display: inline-block;
    margin-right: 15%;
}

.Dropdown-root .Dropdown-control {
    height: 75%;
    border: 0;
    border-radius: 12px;
    font-size: 20px;
    outline: none;
    padding: 5px 0 0 10px;
}

.Dropdown-menu {
    border-radius: 12px;
    top: 0 !important;
}

.connect-button {
    display: inline-block;
    width: 40%;
    height: 75%;
}

.button-group {
    display: flex;
    width: 100%;
    margin: 0 0 15px 0;
    justify-content: space-between;
    align-items: center;
}

.loads-button {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.db-view {
    display: flex;
    flex: 1;
    width: 100%;
}

.button {
    text-align: center;
    background-color: #5ca3fd;
    border-radius: 12px;
    line-height: 40px;
    height: 40px;
    font-size: 20px;
    color: white;
    padding: 0 15px;
}

.field .button:nth-child(2n), .field input[type=text]:nth-child(2n) {
    margin-left: 10px;
}

.button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.db-container {
    flex: 1;
}

.db-container:nth-child(2) {
    margin: 0 20px;
}

.preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -1%;
    display: flex;
    align-items: center;
    color: white;
    background: black;
    opacity: 0.7;
    z-index: 10;
}

.preloader svg {
    margin: 0 auto;
}
